@import url("./fonts.css");

body {
   margin: 0;
}

.App {
   font-family: "Regular";
}

.Overlay {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.noShow {
   display: none;
}