.MenuCapacitacion {
   padding: 2em 1em 3em;
   background: var(--color-gris);
}

.MenuCapacitacion h1.titulo {
   font-size: 2.2em;
   color: var(--color-colgate);
   text-align: center;
}

.MenuCapacitacion .capVideos {
   width: 100%;
   height: 6em;
   margin-bottom: 1em;
   padding: 1.3em 2em;
   display: flex;
   justify-content: space-between;
   border-radius: 1em;
   background: #fff;
}

.MenuCapacitacion .capVideos.visto {
   border: 2px solid #009CA6;
   /* background: #d6d6d6; */
}

.MenuCapacitacion .capVideos .nameContent {
   width: 70%;
   display: flex;
   align-items: center;
}

.MenuCapacitacion .capVideos .nameContent h3 {
   font-family: "Italic";
   font-size: 1.5em;
   color: var(--color-colgate);
   margin-left: 2em;
}

.MenuCapacitacion .capVideos .nameContent .imgContent {
   width: 300px;
   height: 100%;
   display: flex;
   justify-content: center;
}

.MenuCapacitacion .capVideos img {
   /* width: 100%; */
   height: 100%;
}

.MenuCapacitacion .capVideos h3 {
   justify-self: center;
}

.MenuCapacitacion .capVideos .descargaMaterial {
   /* width: 7%; */
   background: none;
   border: 0px;
   border-radius: 10em;
   font-size: 3em;
   color: var(--color-gris-oscuro);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.MenuCapacitacion .capVideos .descargaMaterial:hover {
   transform: scale(1.1);
   color: var(--color-colgate);
   cursor: pointer;
}

.MenuCapacitacion .capVideos a.verCapacitacion {
   height: min-content;
   margin: auto 0;
   padding: 0.5em 1.5em;
   font-family: "Bold";
   font-size: 1.2em;
   color: #fff;
   text-decoration: none;
   background: var(--color-colgate);
   border: 0px;
   border-radius: 2em;
   cursor: pointer;
}

.MenuCapacitacion .capVideos a.verCapacitacion:hover {
   transform: scale(1.05);
   background: #f0000c;
}

.capVideos .status {
   width: 8em;
   text-align: center;
   display: flex;
   align-items: center;
}

.capVideos .status p {
   margin: 0 0 0 10px;
   font-family: "Bold";
}

.capVideos .status.Check {
   color: #009CA6;
}

.capVideos .status.Close {
   color: var(--color-colgate);
}

.MenuCapacitacion .capVideos.visto {
   border: 2px solid #009CA6;
   /* background: #d6d6d6; */
}

.MenuCapacitacion .capVideos.noVisto {
   border: 2px solid var(--color-colgate);
   /* background: #d6d6d6; */
}

.MenuCapacitacion .buttonsMobile{
   display: none;
}


@media only screen and (max-width: 1400px) {
   .MenuCapacitacion .capVideos .nameContent {
      width: 60%;
   }

   .MenuCapacitacion .capVideos .nameContent h3 {
      font-size: 1.3em;
   }
}

@media only screen and (max-width: 480px) {
   .MenuCapacitacion {
      padding: 2em 0 3em;
   }

   .MenuCapacitacion h1.titulo {
      font-size: 2em;
   }

   .MenuCapacitacion .capVideos {
      width: 95%;
      height: auto;
      margin-bottom: 1em;
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 1em;
      background: #fff;
   }

   .capVideos .status {
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .MenuCapacitacion .capVideos .nameContent {
      width: 100%;
      flex-direction: column;
   }

   .MenuCapacitacion .capVideos .nameContent h3 {
      font-size: 1.3em;
      margin-left: 0;
   }

   .MenuCapacitacion .capVideos .nameContent .imgContent {
      width: 200px;
      height: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2em;
   }

   .MenuCapacitacion .capVideos .descargaMaterial,
   .MenuCapacitacion .capVideos a.verCapacitacion {
      display: none;
   }
   
   .MenuCapacitacion .capVideos a.verCapacitacion.mobile {
      display: block;
      margin: 0;
   }

   .MenuCapacitacion .capVideos .buttonsMobile {
      width: 100%;
      height: min-content;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}